.s-cont
{
  width: 100%;
}

.content
{
  display: flex;
}

.side
{
  min-height:100vh;
  width: 15%;
}

.karad
{
  margin-left: 40px;
  margin-top: 40px;
  margin-right: 20px;
  width: 90%;
  height: 400px;
  display: flex;
  border: 2px solid green;
  border-radius: 10px;
  background-color: RGBA(var(--bs-dark-rgb),var(--bs-bg-opacity,1))!important;
  color: white;
  box-shadow: 10px 10px 5px rgb(159, 20, 96);
}

.card-body
{
  margin-left: 30px;
  margin-top: 20px;
}

img
{
  border-radius: 8px;
  border: 2px solid white;
  height: 87%;
  width: 250px;
  margin-left: 15px;
  margin-top:15px;
  margin-bottom: 15px;
}

.container
{
  display: flex;
  justify-content: center;
  position: relative;
  right: 9%;
}

.farm
{
  padding: 50px;
}

.btn
{
  margin-top: 20px;
}

body{
  background-image: linear-gradient(to bottom right, rgb(244, 238, 50), rgb(207, 17, 166));
}

.err
{
  margin-top: 50px;
}